{% extends "layout.html" %}

{% block content %}

    <div class="form-container" >
      	<form class="container-fluid card p-2 pb-5 mt-4 mb-5 shadow my-auto bg" onsubmit=" return subscribeUser()" >
			<div>  
			<div class="title-text3">My Vaccine Tracker</div>
			</div>
			<div class="form-floating mb-2 form-group">
					<input type="text" class="form-control" id="customer-name"  placeholder="Name" required>
					<label for="customer-name">Name</label>
			</div>
			
			<div class="form-floating mb-2 form-group">
					<input type="email" class="form-control" id="customer-emailid" placeholder="Email Address" required>
					<label for="customer-emailid">Email Address</label>
			</div>
			<select class="form-select form-select-md mb-2" id="stateSelect" aria-label=".form-select-lg example" onchange="makeSubmenu(this.value)" required>
			<label for="stateSelect">Email Address</label>
						<option value="" disabled selected>Select State</option>
						<option>Andhra Pradesh</option>
						<option>Arunachal Pradesh</option>
						<option>Assam</option>
						<option>Bihar</option>
						<option>Chandigarh</option>
						<option>Chhattisgarh</option>
						<option>Dadra and Nagar Haveli</option>
						<option>Daman and Diu</option>
						<option>Delhi</option>
						<option>Goa</option>
						<option>Gujarat</option>
						<option>Haryana</option>
						<option>Himachal Pradesh</option>
						<option>Jammu and Kashmir</option>
						<option>Jharkhand</option>
						<option>Karnataka</option>
						<option>Kerala</option>
						<option>Ladakh</option>
						<option>Lakshadweep</option>
						<option>Madhya Pradesh</option>
						<option>Maharashtra</option>
						<option>Manipur</option>
						<option>Meghalaya</option>
						<option>Mizoram</option>
						<option>Nagaland</option>
						<option>Odisha</option>
						<option>Puducherry</option>
						<option>Punjab</option>
						<option>Rajasthan</option>
						<option>Sikkim</option>
						<option>Tamil Nadu</option>
						<option>Telangana</option>
						<option>Tripura</option>
						<option>Uttar Pradesh</option>
						<option>Uttarakhand</option>
						<option>West Bengal</option>
			</select>
			<select class="form-select form-select-md mb-3" id="districtSelect" aria-label=".form-select-lg example" required>
					<option selected>Select District</option>
					<option></option>
			</select>
			<div class="age-group">
					<label class="form-check-label">Age Group</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="below45"  value="option1" required>
					<label class="form-check-label" for="below45">18-45</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="above45" value="option2" required>
					<label class="form-check-label" for="above45">45+</label>
			</div>
			<div class="landing-wrap">
				<button type="submit" class="landing-submit btn btn-primary" id="btnSubmit">Submit</button>
			</div>
			
			<div class="about-text3">This initiative is taken to give you <strong>Realtime Alerts</strong> whenever a vaccination slot 
				opens up.<br>
			 Subscribe to <strong>Telegram </strong>Alerts <a data-bs-toggle="modal" href="#exampleModalToggle3" role="button">here</a>
			<br>	
			<br>
			<a data-bs-toggle="modal" href="#exampleModalToggle" role="button">How does it work?</a>
			<br>
			
    	</form>
		
		<br><br><br><br><br>
		<div class="footer-text">
			To unsubscribe, <a href="#" data-toggle="modal" data-target="#exampleModal">click Here</a><br>
			Developed by: <a href="https://www.linkedin.com/in/anand498/" target="_blank">Anand Pandey</a><br>
		</div>
    </div>



<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalToggleLabel">How does it work?</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
       		<p class="about-text4">
            	A a web service  checks CoWin Portal with respect to a district and when a free slot opens up,
			 	it sends an Email Alert to the recipient's Email as well as notifies on the Telegram Channels. 
			</p>
    		</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalToggleLabel">Telegram Alert Channels</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
				<button type="button" class="btn btn-primary" onclick="window.open('https://telegram.me/joinchat/r31VGj-9RS40Yzg1')" >
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path></svg>
					18-45
				</button>
			  	<button type="button" class="btn btn-primary" onclick="window.open('https://telegram.me/joinchat/kGhXGGDdfl01YzVl')">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path></svg>
					Above 45
				</button>
				<br>
				<p> Note: Telegram Alerts are configured only for districts that have atleast one subscription on My Vaccine Tracker.</p>
    		</div>
		</div>
	</div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Unsubscribe Mail Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit=" return unsubscribeUser()" >
         	<div class="form-floating mb-2 form-group">
				<input type="email" class="form-control" id="unsubscribe-customer-emailid" placeholder="Email Address" required>
				<label for="unsubscribe-customer-emailid">Email Address</label>
			</div>
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        	<button type="submit" class="btn btn-primary">Unsubscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
