{% extends "layout.html" %}

{% block content %}

    <center class="form-container" >
      	<form class="container-fluid card p-2 pb-5 mt-4 mb-5 shadow my-auto bg" onsubmit=" return subscribeUser()" >
			<div>  
			<div class="title-text3">Email Alerts for Vaccines</div>
			</div>
			<div class="form-floating mb-2 form-group">
					<input type="text" class="form-control" id="customer-name"  placeholder="Name" required>
					<label for="customer-name">Name</label>
			</div>
			
			<div class="form-floating mb-2 form-group">
					<input type="email" class="form-control" id="customer-emailid" placeholder="Email Address" required>
					<label for="customer-emailid">Email Address</label>
			</div>
			<select class="form-select form-select-md mb-2" id="stateSelect" aria-label=".form-select-lg example" onchange="makeSubmenu(this.value)" required>
			<label for="stateSelect">Email Address</label>
						<option value="" disabled selected>Select State</option>
						<option>Andhra Pradesh</option>
						<option>Arunachal Pradesh</option>
						<option>Assam</option>
						<option>Bihar</option>
						<option>Chandigarh</option>
						<option>Chhattisgarh</option>
						<option>Dadra and Nagar Haveli</option>
						<option>Daman and Diu</option>
						<option>Delhi</option>
						<option>Goa</option>
						<option>Gujarat</option>
						<option>Haryana</option>
						<option>Himachal Pradesh</option>
						<option>Jammu and Kashmir</option>
						<option>Jharkhand</option>
						<option>Karnataka</option>
						<option>Kerala</option>
						<option>Ladakh</option>
						<option>Lakshadweep</option>
						<option>Madhya Pradesh</option>
						<option>Maharashtra</option>
						<option>Manipur</option>
						<option>Meghalaya</option>
						<option>Mizoram</option>
						<option>Nagaland</option>
						<option>Odisha</option>
						<option>Puducherry</option>
						<option>Punjab</option>
						<option>Rajasthan</option>
						<option>Sikkim</option>
						<option>Tamil Nadu</option>
						<option>Telangana</option>
						<option>Tripura</option>
						<option>Uttar Pradesh</option>
						<option>Uttarakhand</option>
						<option>West Bengal</option>
			</select>
			<select class="form-select form-select-md mb-3" id="districtSelect" aria-label=".form-select-lg example" required>
					<option selected>Select District</option>
					<option></option>
			</select>
			
			<label class="form-check-label">Age Group</label>

			
			<div class="form-check">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="below45"  value="option1" required>
					<label class="form-check-label" for="below45">18-45</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="above45" value="option2" required>
					<label class="form-check-label" for="above45">45+</label>
			</div>
			<div class="landing-wrap">
				<button type="submit" class="landing-submit btn btn-primary" id="btnSubmit">Submit</button>
			</div>
			
			<div class="about-text3">This initiative is taken to help you get 
				vaccinated by giving you real time <strong>Email Alerts</strong> whenever a vaccination slot 
				opens up in your district
			</div>
			<a href="{{ url_for('static', path='/html/howdoesitwork.html') }}" target="_self">How does it work?</a>
    	</form>
		
		<br><br><br><br>
		<div class="footer-text">
			To unsubscribe, click <a href="#" data-toggle="modal" data-target="#exampleModal">Here</a><br>
		<div>
			<div  class="footer-text">
				Developed by: <a href="https://www.linkedin.com/in/anand498/" target="_blank">Anand Pandey</a><br>
			</div>
		
    </center>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Unsubscribe Mail Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit=" return unsubscribeUser()" >
         	<div class="form-floating mb-2 form-group">
				<input type="email" class="form-control" id="unsubscribe-customer-emailid" placeholder="Email Address" required>
				<label for="unsubscribe-customer-emailid">Email Address</label>
			</div>
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        	<button type="submit" class="btn btn-primary">Unsubscribe</button>
        </form>
      </div>
      
    </div>
  </div>
</div>


{% endblock %}
